$darkBlue: #20316A;
$blue: #559BD0;
$teal: #00ABBC;
$pink: #D1B7DE;
$orange: #FBC373;

$primaryColor: #20316A;

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: 'Syne', sans-serif;
	font-size: 16px;
}

ul {
	margin: 0;
	list-style-type: square;
}

a {
	text-decoration: none;
	color: $primaryColor;
	transition: color 1s;

    background: linear-gradient(to right, $primaryColor 50%, $blue);
    background-size: 0px 1px;
    background-repeat: no-repeat;
    background-position: left 100%;
	transition: background .3s;
	&:hover {
		background-size: 100% 1px;
	}
	svg {
		transform: scale(1);
		transition: transform .5s;
		&:hover {
			transform: scale(1.3);
		}
	}
}

section h1 {
	font-size: 2.5rem;
	margin: 1rem 0;
	@include mobile {
		font-size: 2rem;
	}
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
p, div {
	font-size: 1.125rem;
}

input,
label,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  outline: none;
}

input {
	padding: .5rem 1rem;
}

/* Remove Arrows for Number Inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

textarea {
	overflow: auto;
}
button {
	color: #2E2532;
	font-size: 1.5rem;
	font-weight: 700;
	border: 2px solid black;
	border-radius: 2rem;
	padding: .5rem 3rem;
	max-width: 100%;
	cursor: pointer;
	transition: all .3s;
	background: white;
	@include mobile {
		&.fullWidth-mobile {
			width: 100%;
			margin: .5rem 0;
			padding: .5rem 1rem;
		}
	}

	&:hover {
		color: $primaryColor;
		background: white;
	}
}

.slick-slide:focus {
	outline: none;
}
.slick-dots li button::before {
	font-size: 1.25rem !important;
	color: white !important;
}

td {
   padding: 0 .5rem;
}

hr {
	margin: 2rem 0;
	border-color: $primaryColor;
}

figure {
	position: relative;
	display: inline-block;
	figcaption {
		position: absolute;
		bottom: 0;
		background: linear-gradient(0deg, white 0%, white 60%, rgba(255, 255, 255, 0) 100%);
		padding: 1.5rem .5rem .5rem;
		width: 100%;
		opacity: .8;
		text-align: center;
		font-weight: bold;
	}
}
